





<div class="card mb-3 room-card">
  <div class="row no-gutters">
    
    <!-- Image Container -->
    <div class="col-md-4 image-container">
      <ng-container *ngIf="room">
        <img *ngIf="room.imagePath" [src]="room.imagePath" class="card-img" alt="Room Image">
      </ng-container>
    </div>
    <!-- Content Container -->
    <div class="col-md-4 content-container">
      <div class="card-body">
        <h5 class="card-title">Room {{ room?.roomNumber }}</h5>
        <p class="card-text"><strong>Room Type:</strong> {{ room?.roomType }}</p>
        <p class="card-text"><strong>Price:</strong> {{ room?.price | currency }}</p>
        <!-- <p class="card-text"><strong>Available:</strong> {{ room?.ISAvailable ? 'Yes' : 'No' }}</p> -->
      </div>
    </div>
    <!-- Button Container -->
    <div class="col-md-4 button-group">
      <div class="d-flex flex-column justify-content-between h-100 p-3">
        <button class="btn btn-primary mb-2" (click)="onUpdate(room?.id)">Update</button>
        <button class="btn btn-danger" (click)="onDelete(room?.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
